$color1: #3E3F58;
$color2: #3E4056;
$color3: #ECF1F8;
$color4: #fff;
$color5: #B2B3BB;
$color6: #F05D63;
$color7: #ED5267;
$color8: #FF974F;
$color9: #E32C75;
$color10: linear-gradient(135deg, $color8 0%, $color9 100%);
$color11: #f2f2f2;
